<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>580433160519-m1e27jtvng9rgrib8plco2d5tj9nd0j1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.580433160519-m1e27jtvng9rgrib8plco2d5tj9nd0j1</string>
	<key>API_KEY</key>
	<string>AIzaSyCqO4rL2ZlVUzUwRzk3n0kZZVRJTqMqF_Q</string>
	<key>GCM_SENDER_ID</key>
	<string>580433160519</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecologistApp</string>
	<key>PROJECT_ID</key>
	<string>ecologistapp-37663</string>
	<key>STORAGE_BUCKET</key>
	<string>ecologistapp-37663.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:580433160519:ios:0eaba2c0d73a1c686a0462</string>
	<key>DATABASE_URL</key>
	<string>https://ecologistapp-37663-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>