<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>147212819385-el2d1htot1plop5ejhh5lmjk78tiboeu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.147212819385-el2d1htot1plop5ejhh5lmjk78tiboeu</string>
	<key>API_KEY</key>
	<string>AIzaSyA82NNsvl0wjUlrcbMU5gF2ZWIeNM8ksQE</string>
	<key>GCM_SENDER_ID</key>
	<string>147212819385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecologistApp</string>
	<key>PROJECT_ID</key>
	<string>alllogistics-5f489</string>
	<key>STORAGE_BUCKET</key>
	<string>alllogistics-5f489.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:147212819385:ios:55dab2c956c4376dc9b468</string>
</dict>
</plist>